<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

    <h1> What's up Cleveland? </h1>
    <div>
        <a class="twitter-timeline" href="https://twitter.com/Arcioulo/lists/local-news">A Twitter List by Arcioulo</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <!-- Footer -->
    <footer class="w3-container w3-padding-16 w3-light-grey">
        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </footer>

    <!-- End page content -->
</div>