<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

    <!-- Header -->
    <header class="w3-container" style="padding-top:22px">
        <h5><b><i class="fa fa-dashboard"></i> My Dashboard</b></h5>
    </header>

    <div class="w3-container">
        <h5>General Stats</h5>
        <div>
            <iframe src="https://calendar.google.com/calendar/embed?mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=marchual%40gmail.com&amp;color=%231B887A&amp;ctz=America%2FNew_York" style="border:solid 1px #777" width="700" height="400" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>

    <hr>
    <div class="w3-container">
                <h5>Local Weather</h5>
        <div style="width: 700px;"><iframe style="display: block;" src="//cdnres.willyweather.com/widget/loadView.html?id=72609" width="700" height="520" frameborder="0"  scrolling="no"></iframe><a style="text-indent: -9999em;margin: -20px 0 0 0;height: 20px;z-index: 1;position: relative;display: block" href="http://www.willyweather.com/oh/cuyahoga-county/cleveland.html" rel="nofollow">Cleveland Forecast</a></div>    </div>
    <div class="w3-container">
    <h5>Feeds</h5>
                <div>
                    <a class="twitter-timeline" data-width="500" data-height="400" data-theme="light" href="https://twitter.com/Arcioulo/lists/local-news">A Twitter List by Arcioulo</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
    </div>
    <hr>

    <!-- Footer -->
    <footer class="w3-container w3-padding-16 w3-light-grey">
        <h4>FOOTER</h4>
        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </footer>

    <!-- End page content -->
</div>