extends layout

block content
    include includes/source.html
    include includes/top_container.html
    include includes/sidebar.html
    include includes/page_content_shopping-lists.html
    include includes/script.html